.font-yellow{
    color:$c-yellow;
}

.font-white{
    color:$c-white;
}

.font-black{
    color:$c-black;
}

.font-grey{
    color:$c-grey;
}

.bg-yellow{
    background-color:$c-yellow;
}

.bg-light-grey{
    background-color:$c-light-grey;
}

.bg-black{
    background-color:$c-dark-black;
}

.bg-transparent{
    background-color: transparent;
}